* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif
}

.header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin: 20px;
    .header-title {
        font-family: 'Great Vibes', cursive;
    }
    .header-text {
        padding: 10px;
    }
    .fa-search {
        padding: 5px;
    }
}

.navbar {
    margin: 5px;
    border-top: 1px solid gray;
    padding: 10px;
    border-bottom: 1px solid gray;
    .nav {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        padding: 0;
    }
}

.container {
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-bottom: 3%;
    justify-items: center;
    .image {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        text-align: center;
        word-break: break-word;
    }
    .background-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .img-text {
        background-color: rgb(64, 62, 64);
        color: white;
        position: absolute;
        width: 100%;
        word-break: break-word;
        opacity: 70%;
        padding: 10px;
        font-size: medium;
    }
}

.footer {
    background-color: black;
    color: white;
    height: fit-content;
    .links {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        padding: 20px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .contact {
        text-decoration: none;
        color: white;
    }
    .footer-text {
        text-align: center;
        padding: 10px;
        i {
            padding: 5px;
        }
    }
    .copyright {
        padding-top: 10px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        margin-top: 3%;
        margin-left: 10%;
        margin-right: 10%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        margin-bottom: 3%;
        justify-items: center;
    }
    .image {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        text-align: center;
        word-break: break-word;
    }
    .background-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .img-text {
        background-color: rgb(64, 62, 64);
        color: white;
        position: absolute;
        width: 100%;
        word-break: break-word;
        opacity: 70%;
        padding: 10px;
        font-size: medium;
    }
}